---js
{
  layout: "base.liquid",
  pagination: {
    data: "art-pieces",
    size: 1,
    alias: "piece",
    before: function(paginationData, fullData) {
      return paginationData.filter(item => (!item.hasOwnProperty("customDetails") || item.customDetails == false)).sort((a, b) => a.date < b.date ? -1 : 1);
    },
  },
  permalink: "/art/{{ piece.title | slug }}/",
  eleventyComputed: {
    title: "{{ piece.title }} | Franta Tomáš",
    metadata: {
      desc: "{{ piece.desc }} | Franta's art portfolio",
    }
  }
}
---
{% comment %} {% layout "templates/base.liquid" %} {% endcomment %}
{% comment %} {% block title %}{{ piece.title }} | Franta Tomáš{% endblock %} {% endcomment %}
<div class="art-piece-wrapper">
<div class="art-section">

  {% if piece.type == "image" %}
  <img {% if piece.cloudinaryId %} src="{% cloudinaryImg piece.cloudinaryId %}" {% else %} src="{{piece.url}}" {% endif
    %} alt="{{piece.alt}}" />
  {% else %}
  <video {% if piece.cloudinaryId %} src="{% cloudinaryVideo piece.cloudinaryId %}"
    poster="{% cloudinaryVideoThumbnail piece.cloudinaryId %}" {% else %} src="{{piece.url}}" {% endif %}
    alt="{{piece.alt}}" loop controls autoplay></video>
  {% endif %}

</div>
<div class="info-section">
  <h1>{{ piece.title }}</h1>
  <b>{{ piece.date }}</b>
  <div class="piece-description">
    <p>{{ piece.desc }}</p>
  </div>
  <hr>
  <p>Here will be comments...</p>
</div>
<div class="prev-next">
  {% if pagination.href.previous %}
  <a class="prev _a-unstyled" href="{{ pagination.href.previous | url }}">Previous</a>
  {% endif %}
  {% if pagination.href.next %}
  <a class="next _a-unstyled" href="{{ pagination.href.next | url }}">Next</a>
  {% endif %}
</div>

<style>
  .art-piece-wrapper {
    min-height: 50dvh;
    margin-block-end: 5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr auto;
    row-gap: 2rem;
    grid-template-areas: "art info"
      "nav nav";
  }

  .art-section img,
  .art-section video {
    max-height: 80dvh;
    max-width: 95%;
  }

  @media (max-width: 600px) {
    .art-piece-wrapper {
      grid-template-columns: auto;
      grid-template-rows: auto auto auto;
      grid-template-areas: "art" "info" "nav";
    }

    .art-section img,
    .art-section video {
      max-height: 60dvh;
    }

    .info-section {
      padding-inline: 1rem;
    }

  }

  .art-section {
    text-align: center;
    grid-area: art;
  }
  .info-section {
    grid-area: info;
  }


  .prev-next {
    grid-area: nav;
    display: grid;
    padding-inline: 1rem;

    & .prev, & .next {
      grid-area: 1 / 1;
      border: 2px solid var(--color-primary);
      color: var(--color-primary);
      font-size: 1.5rem;
      padding: 0.3rem;
      border-radius: 6px;

      &:hover {
        color: var(--color-secondary);
        background-color: var(--color-primary);
      }
    }

    & .prev {
      justify-self: start;
    }

    & .next {
      justify-self: end;
    }
  }
</style>
</div>







{% html "head" %}
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
{% endhtml %}

<div class="image-grid">
  <div id="grid-size" class="_displaynone" aria-hidden="true"></div>
  {% assign art-pieces = art-pieces | sortByDate %}
  {% for gpiece in art-pieces %}
  {% if gpiece.height and gpiece.width %}
  {% assign ratio = gpiece.width | divided_by: gpiece.height %}
  {% endif %}

  {% if gpiece.title != piece.title %}
  <div class="grid-piece">
    {%- capture link -%}/art/{{ gpiece.title | slug }}{%- endcapture -%}
    <a href="{{ link | url }}" aria-label="Gallery {{ gpiece.type }} {{ gpiece.title }}" class="_a-unstyled">
      {% if gpiece.type == "image" %}
      <img {% if gpiece.cloudinaryId %} src="{% cloudinaryImg gpiece.cloudinaryId %}" {% else %} src="{{gpiece.url}}" {%
        endif %} alt="{{gpiece.alt}}" width="230" {% if ratio %} style="aspect-ratio:{{ ratio }} auto" {% endif %} loading="lazy" />
      {% else %}
      <video {% if gpiece.cloudinaryId %} src="{% cloudinaryVideo gpiece.cloudinaryId %}"
        poster="{% cloudinaryVideoThumbnail gpiece.cloudinaryId %}" {% else %} src="{{gpiece.url}}" {% endif %}
        alt="{{gpiece.alt}}" width="230" {% if ratio %} style="aspect-ratio:{{ ratio }} auto" {% endif %} loop onmouseenter="play()"
        onmouseleave="pause()" muted></video>
      {% endif %}
      <p class="grid-piece__title">{{ gpiece.title }}</p>
    </a>
    {% if gpiece.type == "video" %} <div class="video-duration" hidden>0:00</div> {% endif %}
  </div>
  {% endif %}

  {% endfor %}
</div>

<style>
  .image-grid {
    margin: 0 auto;
  }

  .grid-piece {
    margin-block-end: 1rem;
    display: grid;
  }

  .grid-piece>a,
  .video-duration {
    grid-area: 1 / 1;
  }

  .video-duration {
    background-color: white;
    color: black;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 8px;
    margin: 8px;
    font-size: 80%;
  }

  .grid-piece:hover .video-duration {
    display: none;
  }

  .grid-piece img,
  .grid-piece video {
    border-radius: 16px;
  }

  .grid-piece__title {
    margin-block-start: 0.5em;
    margin-block-end: 0;
  }

  .grid-piece img,
  .grid-piece video,
  .grid-piece,
  #grid-size {
    width: 230px;
  }

  @media (max-width: 500px) {
    .grid-piece img,
    .grid-piece video,
    .grid-piece,
    #grid-size {
      width: 40dvw;
    }
  }
</style>

<script>
  let elem = document.querySelector('.image-grid');
  let msnry = new Masonry(elem, {
    // options
    itemSelector: '.grid-piece',
    columnWidth: '#grid-size',
    gutter: 16,
    fitWidth: true
  });
  const imgLoad = new imagesLoaded('.image-grid')
  imgLoad.on('always', _ => {
    msnry.layout()
  })

  document.querySelectorAll('.grid-piece video').forEach(video => {
    video.addEventListener('loadeddata', _ => {
      msnry.layout()
    })
  })

  // add duration time to videos
  const zeroPad = (num, places) => String(num).padStart(places, '0')
  document.querySelectorAll('.grid-piece video').forEach(video => {
    video.addEventListener('durationchange', _ => {
      const minutes = Math.floor(video.duration / 60)
      const seconds = zeroPad(Math.round(video.duration % 60), 2)
      const duration = minutes + ':' + seconds
      const durationElement = video.closest('.grid-piece').querySelector('.video-duration')
      durationElement.textContent = duration
      durationElement.hidden = false
    })
  })
</script>
