{% layout "templates/base.liquid" %}

{% block head %}
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
{% endblock head %}

{% block content %}

<div class="image-grid">
  {% assign art-pieces = art-pieces | sortByDate %}
  {% for piece in art-pieces %}
  <div class="grid-piece">
    <a href="/art/{{ piece.title | slug }}" aria-label="Gallery {{ piece.type }} {{ piece.title }}" class="_a-unstyled">
      {% if piece.type == "image" %}
        <img
          {% if piece.cloudinaryId %}
            src="{% cloudinaryImg piece.cloudinaryId %}"
          {% else %}
            src="{{piece.url}}"
          {% endif %}
          alt="{{piece.alt}}" width="230" loading="lazy"
        />
      {% else %}
        <video
          {% if piece.cloudinaryId %}
            src="{% cloudinaryVideo piece.cloudinaryId %}"
            poster="{% cloudinaryVideoThumbnail piece.cloudinaryId %}"
          {% else %}
            src="{{piece.url}}"
          {% endif %}
          alt="{{piece.alt}}" width="230" loop onmouseenter="play()"
        onmouseleave="pause()"></video>
      {% endif %}
      <p class="grid-piece__title">{{ piece.title }}</p>
    </a>
    {% if piece.type == "video" %} <div class="video-duration" hidden>0:00</div> {% endif %}
  </div>
  {% endfor %}
</div>

<style>
  .image-grid {
    margin: 0 auto;
  }

  .grid-piece {
    margin-block-end: 1rem;
    display: grid;
  }

  .grid-piece > a, .video-duration {
    grid-area: 1 / 1;
  }

  .video-duration {
    background-color: white;
    color: black;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 8px;
    margin: 8px;
    font-size: 80%;
  }

  .grid-piece:hover .video-duration {
    display: none;
  }

  .grid-piece img,
  .grid-piece video {
    border-radius: 16px;
  }

  .grid-piece__title {
    margin-block-start: 0.5em;
    margin-block-end: 0;
  }
</style>

<script>
  var elem = document.querySelector('.image-grid');
  var msnry = new Masonry(elem, {
    // options
    itemSelector: '.grid-piece',
    columnWidth: 230,
    gutter: 16,
    fitWidth: true
  });
  const imgLoad = new imagesLoaded('.image-grid')
  imgLoad.on('always', _ => {
    msnry.layout()
  })

  document.querySelectorAll('.grid-piece video').forEach(video => {
    video.addEventListener('loadeddata', _ => {
      msnry.layout()
    })
  })

  // add duration time to videos
  const zeroPad = (num, places) => String(num).padStart(places, '0')
  document.querySelectorAll('.grid-piece video').forEach(video => {
    video.addEventListener('durationchange', _ => {
      const minutes = Math.floor(video.duration / 60)
      const seconds = zeroPad(Math.round(video.duration % 60), 2)
      const duration = minutes + ':' + seconds
      const durationElement = video.closest('.grid-piece').querySelector('.video-duration')
      durationElement.textContent = duration
      durationElement.hidden = false
    })
  })
</script>

{% endblock content %}
