---
layout: base.liquid
title: Franta Tomáš
---
{% comment %} {% layout "templates/base.liquid" %} {% endcomment %}

{% html "head" %}
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
{% endhtml %}

<div class="image-grid">
  <div id="grid-size" class="_displaynone" aria-hidden="true"></div>
  {% assign art-pieces = art-pieces | sortByDate %}
  {% for piece in art-pieces %}
  {% if piece.height and piece.width %}
  {% assign ratio = piece.width | divided_by: piece.height %}
  {% endif %}
  <div class="grid-piece">
    {%- capture link -%}/art/{{ piece.title | slug }}{%- endcapture -%}
    <a href="{{ link | url }}" aria-label="Gallery {{ piece.type }} {{ piece.title }}" class="_a-unstyled">
      {% if piece.type == "image" %}
      <img {% if piece.cloudinaryId %} src="{% cloudinaryImg piece.cloudinaryId %}" {% else %} src="{{piece.url}}" {%
        endif %} alt="{{piece.alt}}" width="230" {% if ratio %} style="aspect-ratio:{{ ratio }} auto" {% endif %} loading="lazy" />
      {% else %}
      <video {% if piece.cloudinaryId %} src="{% cloudinaryVideo piece.cloudinaryId %}"
        poster="{% cloudinaryVideoThumbnail piece.cloudinaryId %}" {% else %} src="{{piece.url}}" {% endif %}
        alt="{{piece.alt}}" width="230" {% if ratio %} style="aspect-ratio:{{ ratio }} auto" {% endif %} loop onmouseenter="play()"
        onmouseleave="pause()" muted></video>
      {% endif %}
      <p class="grid-piece__title">{{ piece.title }}</p>
    </a>
    {% if piece.type == "video" %} <div class="video-duration" hidden>0:00</div> {% endif %}
  </div>
  {% endfor %}
</div>

<style>
  .image-grid {
    margin: 0 auto;
  }

  .grid-piece {
    margin-block-end: 1rem;
    display: grid;
  }

  .grid-piece>a,
  .video-duration {
    grid-area: 1 / 1;
  }

  .video-duration {
    background-color: white;
    color: black;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 8px;
    margin: 8px;
    font-size: 80%;
  }

  .grid-piece:hover .video-duration {
    display: none;
  }

  .grid-piece img,
  .grid-piece video {
    border-radius: 16px;
  }

  .grid-piece__title {
    margin-block-start: 0.5em;
    margin-block-end: 0;
  }

  .grid-piece img,
  .grid-piece video,
  .grid-piece,
  #grid-size {
    width: 230px;
  }

  @media (max-width: 500px) {
    .grid-piece img,
    .grid-piece video,
    .grid-piece,
    #grid-size {
      width: 40dvw;
    }
  }
</style>

<script>
  let elem = document.querySelector('.image-grid');
  let msnry = new Masonry(elem, {
    // options
    itemSelector: '.grid-piece',
    columnWidth: '#grid-size',
    gutter: 16,
    fitWidth: true
  });
  const imgLoad = new imagesLoaded('.image-grid')
  imgLoad.on('always', _ => {
    msnry.layout()
  })

  document.querySelectorAll('.grid-piece video').forEach(video => {
    video.addEventListener('loadeddata', _ => {
      msnry.layout()
    })
  })

  // add duration time to videos
  const zeroPad = (num, places) => String(num).padStart(places, '0')
  document.querySelectorAll('.grid-piece video').forEach(video => {
    video.addEventListener('durationchange', _ => {
      const minutes = Math.floor(video.duration / 60)
      const seconds = zeroPad(Math.round(video.duration % 60), 2)
      const duration = minutes + ':' + seconds
      const durationElement = video.closest('.grid-piece').querySelector('.video-duration')
      durationElement.textContent = duration
      durationElement.hidden = false
    })
  })
</script>
